body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}

/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse;
       width: 1200px;
    margin: 0 auto;
}

.main-content {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 50px 90px;
}

/* about styles */


.about {
    margin-bottom: 40px;
}

.about-position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.about-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 650px;
}
/* project styles */

.projects {
   margin-bottom: 50px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.projects-list {
    padding: 0;
    margin-left: 15px;
}

.project-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
   
    .project-link {
        margin-left: 10px;
    }

/* work styles */

.work {
   
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.organization {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.term {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.short-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.obligation {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FB6D3A; 
}
/* education styles */

.education {
    
}

/* sidebar styles */
.sidebar {
    background-color: rgba(30, 41, 57, 1);
    padding-top: 40px;
    width: 370px;
    
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}

.contacts, 
.tech-skills,
.soft-skills
 {
    margin-left: 40px;
}
.contacts {
    margin-bottom: 50px;
}

.sidebar-title {
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
    }

    .contact-type {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        margin-right: 10px;
    }

    .contact-link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-decoration-line: underline;
        color: A8A8A8;
    }

    .tech-skills-list,  
    .soft-skills-list {
        color: #FFFFFF;
        padding: 0;
        margin-left: 17px;
    }

    .tech-skills-item,  
    .soft-skills-item  {
        color: #FB6D3A ;
    }

    .tech-skills-text,
    .soft-skills-text {
        color: #FFFFFF;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }